body{
	font-family: "宋体"!important;
	padding-top: ;
	padding-bottom: 50px;
	color: #666;
}
*,p,h3{
	color: #666;
}
hr{
	border-top: 1px solid #ccc!important;
}

#header{
	z-index: 99999;
	background: #f14833;
	position: relative;
	width: 100%;
	border-bottom: 5px solid #ccc;
}